<nav class="desk, bigbox">
    <div class="desk-nav">
        <h2>
            <a href="/" class="nav-item-desk"> Home</a>
        </h2>
        <h2>
            <a href="/blogs/index.html" class="nav-item-desk"> Blog</a>
        </h2>
    </div>
    <div class="toggle-container">
        <button class="theme-btn light" onclick="setTheme('light')" title="light mode">light</button>
        <button class="theme-btn dark" onclick="setTheme('dark')" title="dark mode">dark</button>
    </div>
    <script type="module" src="/src/javascript/main.js"></script>
</nav>
<!-- <button class="click" id="balloons">Change Theme</button> -->