<nav class="desk, bigbox">
    <div class="desk-nav">
        <h2>
            <a href="/" class="nav-item-desk"> Home</a>
        </h2>
        <h2>
            <a href="/blogs/index.html" class="nav-item-desk"> Blog</a>
        </h2>
    </div>
    <div class="main">
        <button class="nav-item-desk, click" id="balloons">Change Theme</button>
    </div>
</nav>