<nav class="desk">
    
    <!--  <h2>
            <a href="/" class="nav-item-desk"> Home</a>
        </h2>
        <h2>
            <a href="/blogs/index.html" class="nav-item-desk"> Blog</a>
        </h2> -->
    <ul role="list" class="desk-nav">
        <li>
            <a href="/" class="nav-item-desk"> Home</a>
        </li>
        <li>
            <a href="/blogs/index.html" class="nav-item-desk"> Blog</a>
        </li>
    </ul>


    <script type="module" src="/src/javascript/main.js"></script>
    <script type="module" src="/src/style/style.css"></script>
</nav>