#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
:root {
  --turquoise: #9af9f6;
  --purple: #d6a8f1;
  --coral: #f9cc9a;
  --pink: #ffc0cb;       
  --gray: #6d6d6d;
}
.light {
  --primary-color: var(--turquoise);
  --secondary-color: var(--purple);

  --h1: 5.063rem;
}
.dark {
  --background-color: var(--coral);
  --secondary-color: var(--pink);

  --h1: 5.063rem;
}

body {
  text-align: center;
}

.bigbox {
  background: var(--primary-color);
}
.title {
  text-align: center;
  height: 10%;
  font-size: 5rem;
  margin: 0%;
  font-family: "Mali", cursive;
  color: var(--gray);
  
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.button {
  width: 10%;
  font-size: 1.2rem;
  margin: 1rem;
  background-color: #fff0f5;
}

.container {
  margin-top: 0rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;

  text-align: center;
  /* background-color: #ae9ad4; */
}
.item {
  display: flex;
  justify-content: space-around;
  width: 20%;
  height: 12rem;
  transition: all 0.3s ease-in-out;
  margin-top: 1rem;
  border: 1px solid black;
  text-align: center;
  background-color: var(--secondary-color);
}
.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.btn {
  width: 10%;
  font-size: 1.2rem;
  margin: 1rem;
}
#balloons {
  width: 10%;
  font-size: 1.2rem;
  margin: 1rem;
  background-color: #fff0f5;
  font-family: "Gochi Hand", cursive;
}

.img-preview {
  width: 50rem;
  height: 40rem;
  object-fit: cover;
}

h2{
  color: var(--gray);
  font-family: "Mali", cursive;
}