<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap" rel="stylesheet">
</head>

<body class="light">

    <section class="bigbox">
        <h1 class="title"> doggos </h1>
        <div class="main">
            <button class="click" id="balloons">change theme</button>
        </div>

        <section class="buttons">
            <button id="all-qwerty" class="button"> All Items </button>
            <button id="discount" class="button"> Student Discount</button>
        </section>

        <section class="container">
            <!--<div class = "item">
          <div>
          <img class = "image" src = "" alt = "" />
          </div>
          <div class = "text">
            <h2>sample text</h2>
          </div>
          <div class = "item-button">
            <button>press me</button>
          </div>
          </div> -->
        </section>

        <script type="module" src="./javascript/main.js"></script>
        <script type="module" src="./javascript/color.js"></script>

    </section>
</body>

</html>